node_modules
build

client/node_modules
client/.nuxt
client/.output
client/.vscode
server/node_modules
server/dist

# Meta
.idea
.DS_Store
*.log
.env
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/.code-snippets
.history/
*.crt
*.key
